{{!< default}}

<div class="content-area">
    <main class="site-main">
        <div class="post-feed">
            {{#get "posts" limit="3" filter="tag:homepage" include="tags,authors" as |related|}}
                    {{#foreach related}}
                        {{> "loop"}}
                    {{/foreach}}
            {{/get}}
        </div>
    </main>
</div>